[Unit]
Description=Run Tapo camera automation every minute

[Timer]
OnBootSec=30sec
OnUnitActiveSec=1min
AccuracySec=10sec

[Install]
WantedBy=timers.target
